models/*
!models/data/conf.yaml
logs
*.pyc
logger_*
.vscode/*
__pycache__

src/human_activity_recognition/mlruns/*
src/main/python/mlruns/*
src/main/python/lightning_logs/*
src/human_activity_recognition/lightning_logs/*
**/mixste/common/**
**/mixste/model_cross.py
**/videopose/model.py
**/expose_lib/**
out**

lightning_logs/*
mlruns/*
src/main/python/human_activity_recognition/weights