recursive-include human_pose_estimation/common_pose *.py
recursive-include human_pose_estimation/models *.py
recursive-include human_pose_estimation/models/person_detector/yolov3 *.py
recursive-include human_pose_estimation/models/person_detector/yolov3/cfg *.cfg
recursive-include human_pose_estimation/models/person_detector/yolov3/data *.names
recursive-include human_pose_estimation/models/predictors_2d *.py
recursive-include human_pose_estimation/models/predictors_2d/cpn/hrnet/experiments *.yaml
recursive-include human_pose_estimation/models/predictors_2d/cpn/hrnet/lib/config *.py
recursive-include human_pose_estimation/models/predictors_2d/cpn/hrnet/lib/models *.py
recursive-include human_pose_estimation/models/predictors_2d/cpn/hrnet/lib/utils *.py
recursive-include human_pose_estimation/models/predictors_2d/lightweight *.py
recursive-include human_pose_estimation/models/predictors_2d/lightweight/models *.py
recursive-include human_pose_estimation/models/predictors_2d/lightweight/modules *.py
recursive-include human_pose_estimation/models/predictors_3d *.py
recursive-include human_pose_estimation/models/predictors_3d/mhformer *.py
recursive-include human_pose_estimation/models/predictors_3d/mhformer/module *.py
recursive-include human_pose_estimation/models/predictors_3d/mixste *.py
recursive-include human_pose_estimation/models/predictors_3d/motionbert *.py
recursive-include human_pose_estimation/models/predictors_3d/videopose *.py
recursive-include human_pose_estimation/models/tracking *.py
recursive-include human_pose_estimation/models/tracking/sort *.py
recursive-include human_pose_estimation/video_capture *.py
recursive-include human_pose_estimation/visualization *.py